@model LogoModel
<a href="@Url.RouteUrl("HomePage")">
    @*<img title="" alt="@Model.StoreName" src="@Model.LogoPath">*@
    <img alt="@Model.StoreName" src="~/Themes/SimplexTheme/Content/images/logo2.jpeg" class="pull-left" />
</a>